body {
    background-color: black;
    text-align: center;
}
li {
    display: inline;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    display:block;
    padding: 20px;
    background-color: red;
  }
ul {
    background-color: red;
  }