body {
    background-color: black;
    text-align: center;
}
li {
    display: inline;
    float: left;
}
a {
    display:block;
    padding: 8px;
    background-color: red;
  }
ul {
    background-color: red;
  }